<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> This is about page aaa

    </h1>
    <!-- using fragment -->
     <div th:replace ="~{base :: parent(~{::section})}">

        <section>
            <h2> Dynamic content</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, officiis.</p>
            <button> Click on dynamic content</button>
        </section> 

     </div>
    
</body>
</html>