<!DOCTYPE html>
<html lang="en"
class="light"
 th:fragment="parent(content , title , script)"
  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCM</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="dark:bg-gray-900  dark:text-white">
   <!-- Commo n header -->
    <div data-th-replace="navbar :: navbar"> </div>

    <!-- main content -->
<div class = "p-4   ">
    
    <section data-th-replace="${content}"></section>
</div>
    <!-- flow bite content -->

    <!-- Common Footer -->



    
    <footer >Footer : This is footer</footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>